<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>-->

<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%d{HH:mm:ss} %-5level %logger - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss} %-5level %-20logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>courageoussearch-dev.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- set to debug to see where fields plugin searches for (and finds) gsp templates -->
    <logger name="grails.plugin.formfields.FormFieldsTemplateService" level="info" />

    <!-- quiet down messages that are a bit chatty (comment out and check the logs to see if you agree... -->
    <logger name="grails.plugins" level="warn" />
    <logger name="org.apache" level="warn" />
    <logger name="org.grails" level="warn" />
    <logger name="org.hibernate.orm.deprecation" level="error" />
    <logger name="org.springframework" level="warn" />
    <logger name="org.grails.config.NavigableMap" level="error"  />

    <!-- keeep at info level for "my" code, assume there are errors and things to watch here -->
    <logger name="com.oconeco" level="info" />


    <root level="info">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </root>
</configuration>
